@import "settings";
@import "foundation";

.newspaper-page {

}

.six-up-stories .column {

}

.page-title {
    text-align: center;
}

.page-title:after {
    border: 1px solid black;
    margin: auto;
    width: 100%;
}

.page-nav {
    text-align: center;
    margin: auto;
}